form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    width: 80px;
    height: 42px;
    position: relative;
    right: 80px;
    background: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYW1iejBmNmptemJ6aDRvY3QzbHJuZGkxZmpjY2Z6ODludmthdmprdSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Q34Q46x7bUUKJfbn0s/giphy.gif");
}

input {
    width: 600px;
    height: 40px;
    padding-left: 20px;
    border:1px solid #00eafb ;
    background: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3OXB4cTNjdjl1cWZsNnVkZzhtNWV6enc3eWd2YnB1N2FtZGp4YzlhcyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/VapauFsEHWCt2/giphy.gif");
}

input::placeholder {
    color: #27c7d3;
    font-style: italic;
}

div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}